<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <script src="/static/juery/jQuery v3.3.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="#">{{ request.user.username }}</a>
                    </li>
                    <li><img src="{{ request.user.img }}" style="height: 50px; width: 60px;" alt=""></li>
                    <li><a href="/index/{{ site_name }}/">我的博客</a></li>
                    <li><a href="#">设置</a></li>
                    <li><a href="/logout/">退出</a></li>
                    <li><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal">更改头像</a></li>
                {% else %}
                    <li><a href="/login/">登录</a></li>
                    <li><a href="/register/">注册</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">Panel heading without title</div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Panel title</h3>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="article_list">
                {% for foo in article_list %}
                    <div class="article_item">

                        <a href="/{{ foo.user.blog.site_name }}/articles/{{ foo.nid }}"><h5>{{ foo.title }}</h5></a>
                        <div class="desc">

                            <span class="media-left small desc"><img
                                    src="/static/img/u=3286791605,3383963479&fm=27&gp=0.jpg" height="60px"
                                    alt=""></span>
                            {#                            {{ request.user.avatar }}#}
                            <span class="media-right" style="text-align: justify">{{ foo.desc }}</span>
                        </div>
                        <br>
                        <div class="publish_people">
                            <a href="">{{ foo.user }}</a>发表于<span>{{ foo.create_time|date:'Y-m-d H:i' }}</span>
                            &nbsp;&nbsp;<span class="glyphicon glyphicon-comment" style="color: #c7ddef"><a
                                href="">评论</a></span>({{ foo.comment_count }})
                            <span class="glyphicon glyphicon-share" style="color: #c7ddef;line-height: 100%"><a href="">阅读</a></span>(0)
                        </div>
                    </div>
                    <hr>



                {% endfor %}
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if article_list.has_previous %}
                        <li>
                            <a href="?page={{ article_list.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">上一页</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">

                            <span aria-hidden="true">上一页</span>

                        </li>
                    {% endif %}

                    {% for foo in pageRange %}
                        <li><a href="?page={{ foo }}">{{ foo }}</a></li>
                    {% endfor %}

                    {% if book_list.has_next %}
                        <li>
                            <a href="?page={{ article_list.next_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">下一页</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">

                            <span aria-hidden="true">下一页</span>

                        </li>
                    {% endif %}

                </ul>
            </nav>
        </div>
        <div class="col-md-3"></div>
    </div>
    <!-- Button trigger modal -->
    <!-- Modal -->

</div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"  style="margin-top: 200px">
            <div class="container">
                <div class="col-md-6 col-md-offset-3" style="background-color: #c7ddef">
                    <div style="height: 200px;width: 200px;padding: 2px;border: 1px dashed black;position: relative;background-color: #2aabd22b">
{#                        <span style="float: left"><button type="button" class="btn btn-info">点击图片更换(<a href="#">撤销</a>)</button></span>#}
                        <img style="height: 100%;width: 100%;border: 0;overflow: hidden;border-radius: 50%;"
                             id="previewImg"
                             src="/static/imgs/default.png">
                        <input style="top: 0;left: 0px;right: 0;bottom: 0;opacity: 0;position: absolute;z-index: 102;"
                               id="avatarImg"
                               name="avatar_img" type="file" class="img-file"/>
                    </div>
                    <div>
                        <button type="button" class="btn btn-info">点击图片更换(<a href="#">撤销</a>)</button>
                    </div>

                    <form method="post" enctype="multipart/form-data" class="form-control" action="/form_data_upload/">
                        {% csrf_token %}
                        <div>
                            <input type="text" name="avatar" id="avatar">
{#                            <input type="text" name="user">#}
                            <input type="submit" value="确认">
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>
</html>
<script>
    $(function () {
        bindChangeAvatar3();
    });

    function bindChangeAvatar3() {
        $('#avatarImg').change(function () {
            console.log(11);
            var file_obj = $(this)[0].files[0];
            var form = new FormData();
            var crsf_token_value = $("input[name='csrfmiddlewaretoken']").attr("value");
            form.append('img_upload', file_obj);
            form.append('csrfmiddlewaretoken', crsf_token_value);
            $.ajax({
                url: '/form_data_upload/',
                type: 'POST',
                data: form,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (arg) {
                    // 给img标签设置src属性，预览

                    console.log(arg);
                    console.log(555);
                    $('#previewImg').attr('src', "/" + arg);
                    $('#avatar').val("\\" + arg);
                }
            })
        })
    }
</script>