<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <script src="/static/juery/jQuery%20v3.3.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .bac {
            position: absolute;
            height: 100%;
            width: 100%;
            background-size: cover;
            opacity: 1;

        }
        .errors{
            color: red;
        }
    </style>
    <title>首页</title>
</head>
<body>
<div class="bac" style="background-image: url('/static/img/8a0f0f22d02ac4b7dec5c28a373e4822.jpg') ">

</div>
<div class="wrap">

</div>
<div class="container" style="">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

     <div class="row" style="margin-top: 50px">
            <div class="col-md-6 col-md-offset-3">

                <form method="post" action="/register/" novalidate>
                    {% csrf_token %}
                    {% for foo in form %}
                        <div class="form-group">
                            <lable for="">{{ foo.label_tag }}</lable>
                            {{ foo }}
                            <span class="errors pull-right"  id="{{ foo.name }}">{{ foo.errors.0 }}</span>
                            {% if foo.label == 'Ensure pwd' %}
                                <span class="errors pull-right">{{ error|default_if_none:'' }}</span>
                            {% endif %}
                        </div>

                    {% endfor %}
                    <button type="submit" class="btn btn-default">提交</button>
                </form>
            </div>
        </div>
</div>
</body>
</html>


<script>
        $("input[name='username']").focusout(function () {
            var obj_val = $(this).val();
            console.log(typeof obj_val);
            var obj = $(this);
            {#console.log(obj);#}

            console.log(obj_val);
            var obj_name = $(this).attr('name');
            {#console.log(666);#}
            var crsf_token_value = $("input[name='csrfmiddlewaretoken']").attr("value");
            $.ajax(
                {
                    url: '/register/',
                    type: 'post',
                    contentType:false,
                    processData:false,
                    data: {
                        username: obj_val,
                        csrfmiddlewaretoken: crsf_token_value,
                        pwd: 1234,
                        ensure_pwd: 1234,
                        email: '446@qq.com',
                        telephone: 17720284880
                    },
                    success: function (data) {
                        data = JSON.parse(data);
                        console.log(data['djuge']);
                        console.log(data['result']);
                        if (data['djuge']) {
                            $('#username').text(data['result'])
                        }
                        else {
                            $('#username').text(data['result']['username'])
                        }


                    }
                }
            )
        });

        $("input[name='email']").focusout(function () {
            var obj_val = $(this).val();
            console.log(typeof obj_val);
            var obj = $(this);
            {#console.log(obj);#}

            console.log(obj_val);
            var obj_name = $(this).attr('name');
            {#console.log(666);#}
            var crsf_token_value = $("input[name='csrfmiddlewaretoken']").attr("value");
            $.ajax(
                {
                    url: '/register/',
                    type: 'post',
                    data: {
                        username: 'asdc',
                        csrfmiddlewaretoken: crsf_token_value,
                        pwd: 1234,
                        ensure_pwd: 1234,
                        email: obj_val,
                        telephone: 17720284880
                    },
                    success: function (data) {
                        data = JSON.parse(data);
                        console.log(data['djuge']);
                        console.log(data['result']);

                        if (data['djuge']) {
                            $('#email').text(data['result'])
                        }
                        else {
                            $('#email').text(data['result']['email'])
                        }


                    }
                }
            )
        });
        $("input[name='telephone']").focusout(function () {
            var obj_val = $(this).val();
            console.log(typeof obj_val);
            var obj = $(this);
            {#console.log(obj);#}

            console.log(obj_val);
            var obj_name = $(this).attr('name');
            {#console.log(666);#}
            var crsf_token_value = $("input[name='csrfmiddlewaretoken']").attr("value");
            $.ajax(
                {
                    url: '/register/',
                    type: 'post',
                    data: {
                        username: 'asdc',
                        csrfmiddlewaretoken: crsf_token_value,
                        pwd: 1234,
                        ensure_pwd: 1234,
                        email: '446@qq.com',
                        telephone: obj_val
                    },
                    success: function (data) {
                        data = JSON.parse(data);
                        console.log(data['djuge']);
                        console.log(data['result']);

                        if (data['djuge']) {
                            $('#telephone').text(data['result'])
                        }
                        else {
                            $('#telephone').text(data['result']['telephone'])
                        }


                    }
                }
            )
        });
        $("#id_ensure_pwd").focusout(function () {
            var obj_val1 = $(this).val();
            var obj_val2 = $('#id_pwd').val();
            var obj = $(this);
            {#console.log(obj);#}

            var obj_name = $(this).attr('name');
            {#console.log(666);#}
            var crsf_token_value = $("input[name='csrfmiddlewaretoken']").attr("value");
            $.ajax(
                {
                    url: '/register/',
                    type: 'post',
                    data: {
                        username: 'asdc',
                        csrfmiddlewaretoken: crsf_token_value,
                        pwd: obj_val2,
                        ensure_pwd: obj_val1,
                        email: '446@qq.com',
                        telephone: 17720284880
                    },
                    success: function (data) {
                        data = JSON.parse(data);
                        console.log(data['djuge']);
                        console.log(data['result']);

                        if (data['djuge']) {
                            $('#ensure_pwd').text(data['result'])
                        }
                        else {
                            $('#ensure_pwd').text(data['result']['ensure_pwd'])
                        }


                    }
                }
            )
        });
    </script>