{% extends 'back/base.html' %}

{% block js %}

    <script>
    $('.delete').click(function () {
        var id = $(this).attr('name');
        var _this = $(this);
        $.ajax({
            url:/delete/,
            type:'post',
            data:{
                csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val(),
                article_id:id
            },
            success:function (data) {
                console.log(111);
                console.log(data);
                if(data.result){
                    console.log(data);
                    _this.parent().parent().css('color','red');
                    _this.parent().parent().text(data.msg);

                }
            }
        }

        )


    })



</script>

{% endblock %}