{% extends 'back/base.html' %}

{% block main %}
    <script charset="utf-8" src="/static/kindeditor/kindeditor/kindeditor-all.js"></script>
    {#<script charset="utf-8" src="../lang/zh-CN.js"></script>#}
    <script>
        var editor;
        KindEditor.ready(function (K) {
            editor = K.create('#editor_id', {

                resizeType: 0,
                height: '600px',
                width: '675px',
                afterUpload: function (data) {
                    {#alert(data);#}
                },
                uploadJson: '/upload/',    //指定上传文件的服务器端程序  也就是指定url
                 extraFileUploadParams : {
                       csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val()
                },



            });
             editor.html('{{ article_obj.content|safe }}');
        });

    </script>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

        <div class="row">
            <div class="col-md-9">
                <form action="" method="post">
                {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">请输入标题</span>
                        <input type="text" class="form-control" placeholder="请输入文章标题" name="article_title" value="{{ article_obj.title }}"
                               aria-describedby="basic-addon1">
                    </div>
                    <div>
                        <textarea id="editor_id" name="content"></textarea>
                    </div>
                    <span>请选择类别</span>
                    {% for category in  caregory_list %}
                        {% if article_obj.category == category %}
                            <h4><input type="radio" name="category_id" value="{{ category.nid }}" checked="">{{ category.title }}</h4>
                            {% else %}
                            <h4><input type="radio" name="category_id" value="{{ category.nid }}">{{ category.title }}</h4>
                        {% endif %}

                    {% endfor %}

                    <span>请选择标签</span>

                    {% for tag in tag_list %}
                        {% if tag.nid  in tags_id_list %}
                        <h4><input type="checkbox" checked="true"  name="tag_id" value="{{ tag.nid }}">{{ tag.title }}</h4>
                        {% else %}
                            <h4><input type="checkbox"   name="tag_id" value="{{ tag.nid }}">{{ tag.title }}</h4>
                        {% endif %}


                    {% endfor %}
                    <input type="submit">
                </form>
            </div>

        </div>
    </div>




{% endblock %}

{% block js %}
    <script>

    //var A = '{{ article_tag_obj.tag_id }}';
    //var val =  $("input[name='tag_id']").attr('value');
    //console.log(A);
    //console.log(val);

    //if(A == val ){
      //  $("input[name='tag_id']").attr('checked', true);
    //}



    </script>



{% endblock %}

